<footer class="site-footer" style="margin-top: 100px">
    <div class="row align-items-center">
        <div class="col-12 col-lg-4 order-3 order-lg-1">
        </div><!-- .col-xl-4 -->

        <div class="col-12 col-lg-4 order-1 order-lg-2 d-md-none d-lg-block" >
            <nav class="footer-navigation">
                <ul>
                    <li>Copyright Peggy Bous</li>
                </ul>
            </nav><!-- .footer-navigation -->
        </div><!-- .col-xl-4 -->
    </div><!-- .row -->
</footer><!-- .site-footer -->