{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}

    <div class="container ">
        <div class="jumbotron" style="width: 50%;font-size: 0.75em;margin-left: 25%">
            <h3 class="text-center" style="margin-top: -10%; ">Pour toute information ou demande particulière, n'hésitez pas à me contacter
                par l'intermédiaire de ce formulaire
            </h3>

        <div class="form-mail mt-5">
            {{ include('contact/_form.html.twig') }}

        </div>
        </div>
    </div>


{% endblock %}
