<!-------------------------------------------------- Button trigger modal --------------------------------------------------------------------------->
    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal">
        Supprimer cette image
    </button>

<!-------------------------------------------------- End Button trigger modal --------------------------------------------------------------------------->

<!-------------------------------------------------- Modal --------------------------------------------------------------------------->
<div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-bark">
            <div class="modal-body">
                Etes vous sûr de vouloir supprimer cette image ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Non</button>
                <a href="{{ path('images_delete', {'id': image.id}) }}" class="btn btn-outline-danger">Oui je suis sûr !</a>
            </div>
        </div>
    </div>
</div>
<!-------------------------------------------------- End Modal --------------------------------------------------------------------------->