{% extends 'base.html.twig' %}

{% block title %}Edit Images{% endblock %}

{% block body %}
<div class="container">
    <h1>Editer image de la galerie</h1>

    {{ include('images/_form.html.twig', {'button_label': 'Update'}) }}


    {{ include('images/_delete_form.html.twig') }}<br>
    <a href="{{ path('images_index') }}"><button class="btn btn-outline-secondary mt-2">back to list</button> </a>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <script>
        $(document).ready(function () {
            bsCustomFileInput.init()
        })
    </script>
{% endblock %}
