{% extends 'base.html.twig' %}

{% block title %}New Images{% endblock %}

{% block body %}
    <div class="container">
    <h1 class="alert alert-info">Nouvelles images pour la galerie</h1>

    {{ include('images/_form.html.twig') }}

    <a href="{{ path('images_index') }}"><button type="submit" class="btn btn-secondary">back to list</button></a>
    </div>

{% endblock %}
