{% extends 'base.html.twig' %}

{% block title %}New Images{% endblock %}

{% block body %}
    <h1>Nouvelles images pour la gallerie</h1>

    {{ include('images/_form.html.twig') }}

    <a href="{{ path('images_index') }}">back to list</a>

    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <script>
        $(document).ready(function () {
            bsCustomFileInput.init()
        })
    </script>
{% endblock %}
