
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tangerine&display=swap');

/*--------------------------------------------------------------
# dont display any scroll bar
--------------------------------------------------------------*/

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}


/*--------------------------------------------------------------
# Login
--------------------------------------------------------------*/
.jumbotron{
    font-family: 'Source Sans Pro', sans-serif;
}

/*--------------------------------------------------------------
# perso
--------------------------------------------------------------*/

.portfolio-title{
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 100;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.portfolio-item {
    width: 100%;
    height: auto;
    margin: 0 0 15px ;
}

.portfolio-item img {
    width: auto;
    height: 100%;
}

@media screen and (min-width: 576px) {
    .portfolio-item {
        width: auto;
        height: 234px;
        margin: 5px;
    }

    .portfolio-item img {
        width: auto;
        max-width: 200%;
        min-height: 100%;
    }
}

/*--------------------------------------------------------------
# img carousel
--------------------------------------------------------------*/
.backcolor ul li a{
    background-color: white;
}

.carousel-item img{
    height: auto;
    width: auto;
}

.anime{
    height: 740px;
    width: auto;
    -webkit-transition-duration: 4s;
    -o-transition-duration: 4s;
    transition-duration: 4s;
    -webkit-transition-delay: 0.5ms;
    -o-transition-delay: 0.5ms;
    transition-delay: 0.5ms;
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
}

.animerev{
    height: 740px;
    width: auto;
    -webkit-transition-duration: 4s;
    -o-transition-duration: 4s;
    transition-duration: 4s;
    -webkit-transition-delay: 0.5ms;
    -o-transition-delay: 0.5ms;
    transition-delay: 0.5ms;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}


ul li{
    background-color: rgba(203, 218, 226, 0.22);
}

/*--------------------------------------------------------------
# header title peggy bous
--------------------------------------------------------------*/
.choix_gallery:hover{
    opacity: 1;
}

.title{
    font-size: 150px;
}


.happy-title{
    font-size: 45px;
    color: pink;
    -webkit-transform: translate(110px, -80px);
    -ms-transform: translate(110px, -80px);
    transform: translate(120px, -80px);
    margin-bottom: -50px;
}

.tangerine{
    font-family: Tangerine, sans-serif;
    font-size: 35px;
}

@media screen and (max-width: 600px) {
    .title{
        font-size: 50px;
    }


    .happy-title{
        font-size: 15px;
        color: pink;
        -webkit-transform: translate(110px, -80px);
        -ms-transform: translate(110px, -80px);
        transform: translate(35px, -30px);
        margin-bottom: -50px;
    }

    .tangerine{
        font-family: Tangerine, sans-serif;
        font-size: 35px;
    }
}

/*--------------------------------------------------------------
# Magnific-anime gallery from the left
--------------------------------------------------------------*/
.gallery_left{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -900px;
    opacity: 0.01;

}

.anime_left{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -200px;
    -webkit-transform: translateX(400px);
    -ms-transform: translateX(400px);
    transform: translateX(400px);
    -webkit-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
    opacity: 1;
    font-weight: bold;
    margin-top: 50px;
}

.anime_left img{
    border-radius: 50%;
    width: 500px;
    height: 400px
}

.gallery_text_left{
    font-weight: lighter;
    width: 400px;
    margin-left: 550px;
    text-align: justify;
    z-index: 500;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    position: absolute;
}

.blue{
    width: 2000px;
}
.blue:hover{
    opacity: 0.8;
}


/*--------------------------------------------------------------
# Magnific-anime gallery from the left
--------------------------------------------------------------*/
.gallery_left2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -900px;
    opacity: 0.01;
}

.anime_left2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -200px;
    -webkit-transform: translateX(400px);
    -ms-transform: translateX(400px);
    transform: translateX(400px);
    -webkit-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
    opacity: 1;
    font-weight: bold;
    margin-top: -150px;
    margin-bottom: -100px;
}

.anime_left2 img{
    border-radius: 50%;
    width: 500px;
    height: 400px
}

.gallery_text_left2{
    font-weight: lighter;
    width: 400px;
    margin-left: 550px;
    text-align: justify;
    z-index: 500;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    position: absolute;
}

.blue{
    width: 2000px;
}
.blue:hover{
    opacity: 0.8;
}



/*--------------------------------------------------------------
# Magnific-anime gallery from the right
--------------------------------------------------------------*/

.gallery_right{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px);
    opacity: 0.01;
    margin-top: 50px;
}

.gallery_text_right{
    font-weight: lighter;
    width: 400px;
    margin-left: -450px;
    text-align: justify;
    z-index: 500;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    position: absolute;
}

.anime_right{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -400px;
    transform: translateX(1100px);
    -webkit-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
    opacity: 1;
    font-weight: bold;
    margin-top: 50px;
}

.anime_right img{
    border-radius: 50%;
    width: 500px;
    height: 400px
}

.green{
    opacity: 1;
    width: 700px;
    height: 600px;
    border-radius: 50%;
}
.green:hover{
    opacity: 0.7;
    width: 700px;
    height: 600px;
    border-radius: 50%;
}


body {
    margin-top: 10px;
    background-color: white;
    color: #191919;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
}

hr{
    margin-bottom: -15px;
}

img {
    vertical-align: baseline;
}

@media (max-width: 899px) {
    body {
        margin-top: 40px;
        background-color: white;
        color: #191919;
        font-family: 'Work Sans', sans-serif;
        font-size: 18px;
    }

    hr{
        margin: 25px 0 -4px 0;
    }

    .logo{
        width: 50px; !important;
        height: auto;
    }
}

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
@media screen and (max-width: 900px){
    nav{
        outline: none;
        text-decoration: none;
        outline: 0;
        list-style: none;
    }
}

a {
    outline: none;
    text-decoration: none;
}
a:hover, a:focus, a:active {
    outline: none;
    text-decoration: none;
    outline: 0;
    list-style: none;
}

.tarif-a {
    outline: none;
    text-decoration: none;
    color:rgba(128, 0, 128, 0.40);
}

.tarif-a:hover {
    outline: none; !important;
    text-decoration: none; !important;
    color:pink;
}


.tarif-a:hover, .tarif-a:focus, .tarif-a:active {
    color: pink;
}

/*--------------------------------------------------------------
# Helper Utilities
--------------------------------------------------------------*/
.flex {
    display: flex;
    flex-wrap: wrap;
}

.stop-scrolling {
    overflow: hidden;
}

@media screen and (min-width: 992px) {
    .container-fluid {
        width: calc(100% - 120px);
    }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site-header {
    padding: 6px 0;
}

@media screen and (min-width: 992px) {
    .site-header {
        padding: 16px 0;
    }
}

/*
# Header Social
--------------------------------*/
@media (min-width: 900px) {
    .header-social {
        transform: translateX(875px);
    }


    .header-social ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 10px 0;
    }

    .header-social ul li {
        display: block;
        margin: 5px 10px;
        background-color: white;
    }

    .header-social ul li a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        font-size: 1.125rem;
        color: #404040;
        text-decoration: none;
        transition: all 0.35s;
    }
}

@media (max-width: 899px) {
    .header-social{
        margin-left:  175px;
    }

    .header-social ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 10px 0;
    }

    .header-social ul li {
        display: block;
        margin: 5px 10px;
    }

    .header-social ul li a {
        width: 2px;
        height: 2px;
        font-size: 1.125rem;
        color: #404040;
        text-decoration: none;
        transition: all 0.35s;
    }
}



.header-social ul li a:hover {
    color: pink;
}


/*
# Site Branding
--------------------------------*/
.site-title {
    margin: 0;
}

@media (min-width: 900px) {
    .logo {
        width: 100px;
        height: auto;
    }
}

/*
# Main Menu
--------------------------------*/
.site-navigation ul {
    position: fixed;
    top: 60px;
    left: -220px;
    z-index: 99;
    width: 220px;
    height: calc(100vh - 61px);
    overflow-x: scroll;
    padding: 15px 0;
    margin: 0;
    border-right: 1px solid #ebebeb;
    background: #fff;
    transition: all 0.35s;
}

.site-navigation ul.show {
    left: 0;
}

.site-navigation ul li {
    display: block;
    padding: 8px 20px;
    background-color: white;
}

.site-navigation ul li a {
    display: block;
    color: #a6a6a6;
    transition: all 0.35s;
    text-decoration: none;
}

.site-navigation ul li a:hover,
.site-navigation ul li.current-menu-item a {
    color: pink;
/*color hover menu*/
}

.navNone{
    display: none;
}

@media screen and (min-width: 992px) {
    .site-navigation ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        top: auto;
        left: auto;
        width: auto;
        height: auto;
        padding: 0;
        margin: 0;
        border-right: 0;
        overflow: auto;
    }
}

@media screen and (min-width: 1200px) {
    .site-navigation ul li {
        display: block;
        padding: 8px 26px;
    }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
    padding: 18px 0;
}

/*
# Footer Copyright
--------------------------------*/
.footer-copyright figure {
    margin: 0;
}

.footer-copyright p {
    margin: 10px 0;
    color: #a6a6a6;
    font-size: 0.875rem;
    text-align: center;
}

@media screen and (min-width: 992px) {
    .footer-copyright p {
        margin: 0;
        text-align: left;
    }
}

/*
# Footer Navigation
--------------------------------*/
.footer-navigation ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.footer-navigation ul li {
    display: block;
    margin: 5px 16px;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: white;
}

.footer-navigation ul li a {
    display: block;
    color: #595959;
    text-decoration: underline;
}

.footer-navigation ul li a:hover {
    color: #30df7a;
}

.tarif-h1 {
    font-family: Lato, Tangerine, sans-serif;
    color: rgba(128, 0, 128, 0.40);
}

.span-tarif {
    color: rgba(128, 0, 128, 0.40);
}

.div-image-tarif{
    display: flex;
    flex-wrap: nowrap;
    margin: 50px 0;
    justify-content: space-evenly;
}

.div-image-tarif img{
   padding: 5px;
}

.div-image-tarif img:hover{
    opacity: 0.3;
    filter: grayscale(100%);
}



div.item {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 220px;
    max-width: 310px;
    width: 100%;
    background: #000000;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

div.item * {
    box-sizing: border-box;
    background-color: black;
}

div.item img {
    max-width: 100%;
    vertical-align: top;
    height: 210px;
}

div.item:hover img {
    opacity: 0.3;
    filter: grayscale(100%);
}

div.item * {
    transition: all .35s ease-in-out;
}

.btn-img {
    padding: 10px;
    outline: none;
    border: pink solid;
    text-decoration: none;
    color: rgba(255, 0, 255, 0.26);
}

.btn-img:hover {
    padding: 10px;
    outline: none;
    border: pink solid;
    text-decoration: none;
    color: rgba(255, 0, 255, 0.26);
    background-color: rgba(255, 0, 255, 0.05);
}

div .btn-pink {
    border: solid rgba(255, 0, 255, 0.21);
    border-radius: 50%;
    outline: none;
    text-decoration: none;
    color: rgba(255, 0, 255, 0.41);
    width: 250px;
    height: 65px;
    font-family: Tangerine,sans-serif;
    font-size: 30px;
    margin-bottom: -140px;
    margin-top: -100px;
}

div .btn-pink-tarif {
    border: solid rgb(165, 164, 162);
    outline: none;
    text-decoration: none;
    color: rgb(165, 164, 162);
    width: 250px;
    height: 65px;
    font-family: Tangerine,sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
}

.btn-pink-tarif:hover{
    border: none;
    outline: none;
    text-decoration: none;
    color: rgba(255, 0, 255, 0.26);
    background-color: white;
    opacity: 0.9;
}

.btn-pink:hover{
    outline: none;
    text-decoration: none;
    color: rgba(255, 0, 255, 0.26);
    background-color: white;
    opacity: 0.9;
}

.purple{
    color:rgba(128, 0, 128, 0.40) ;
}

.btn-forfait-bronze{
    outline: none;
    text-decoration: none;
    width: 150px;
    height: 50px;
    font-family: Tangerine,sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
    color: rgb(205, 127, 50);
}

.btn-forfait-detail-bronze{
    font-weight: bolder;
    outline: none;
    text-decoration: none;
    width: 150px;
    height: 50px;
    font-family: Lato, Tangerine, sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
    color: rgb(205, 127, 50);
}

.btn-forfait-or {
outline: none;
text-decoration: none;
width: 150px;
height: 50px;
font-family: Tangerine,sans-serif;
font-size: 30px;
margin-bottom: 10px;
color: rgb(255,215,0);
}


.btn-forfait-platine {
    outline: none;
    text-decoration: none;
    width: 150px;
    height: 50px;
    font-family: Tangerine,sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
    color: rgb(229, 228, 226);
}

.title-tarif-bronze {

    margin-top:40px;
    margin-bottom: -30px;
}

.tarif-ul {
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
}

.tarif-ul li{
    background-color: white;
}

.quote_temoignage {
    width: 600px;
    margin-left: 20%;
    margin-top: 75px;
    margin-bottom: 100px;
    font-weight: 100;

}

.temoignage_name {
    float: right;
    margin-right: 50px;
    font-family: Lato;
    font-size: 18px;
}

.pink{
}