{% extends 'base.html.twig' %}

{% block title %}About Me{% endblock %}

{% block body %}
    <div class="container">
        <h1>Créer ou modifie ta présentation</h1>

        {{ include('aboutme/_form.html.twig') }}

        <a href="{{ path('aboutme_index') }}"><button type="button" class="btn btn-info mt-2">back to list</button></a>
    </div>
{% endblock %}
